---
layout: default_en
title: Concerts
absolute_path_nl: /concerts/
absolute_path_en: /en/concerts/
---

<div class="container">
  <h1 class="page-title fadeIn">Calendar</h1>

  {% assign future_concerts = site.concerts | where_exp: "concert",
  "concert.date >= site.time" %} {% for concert in future_concerts %}
  <div class="concert-poster fadeIn">
    <div class="concert-datetime">
      <p class="concert-date">{{concert.date | date: "%e-%m-%Y"}}</p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <div class="concert-location">
      <p class="concert-hall">
        {% if concert.hall_en %}{{concert.hall_en}}{% else %} {{concert.hall}}{%
        endif %}
      </p>
      <p class="concert-place">
        {% if concert.place_en %}{{concert.place_en}}{% else %}
        {{concert.place}}{% endif %}
      </p>
      <p class="concert-repertoire">
        {% if concert.repertoire_en %}{{concert.repertoire_en}}{% else %}
        {{concert.repertoire}}{% endif %}
      </p>
      <p class="concert-musicians">{{concert.musicians_en}}</p>
      {% if concert.organizer_url %}
      <p class="concert-tickets">
        <a href="{{concert.organizer_url}}" target="_blank" class="btn"
          >Tickets</a
        >
      </p>
      {% endif %} {% if concert.cancelled %}
      <p class="concert-cancelled">Cancelled</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <h1 class="page-title fadeIn">Archive</h1>
  {% assign past_concerts = site.concerts | where_exp: "concert", "concert.date
  < site.time" | reverse %} {% for concert in past_concerts %} {% if
  concert.in_archive == true %}
  <div class="concert-poster fadeIn archive">
    <div class="concert-datetime">
      <p class="concert-date">{{concert.date | date: "%e-%m-%Y"}}</p>
      <p class="concert-time">{{concert.date | date: "%k:%M" }}</p>
    </div>
    <div class="concert-location">
      <p class="concert-hall">
        {% if concert.hall_en %}{{concert.hall_en}}{% else %} {{concert.hall}}{%
        endif %}
      </p>
      <p class="concert-place">
        {% if concert.place_en %}{{concert.place_en}}{% else %}
        {{concert.place}}{% endif %}
      </p>
      <p class="concert-repertoire">
        {% if concert.repertoire_en %}{{concert.repertoire_en}}{% else %}
        {{concert.repertoire}}{% endif %}
      </p>
      <p class="concert-musicians">{{concert.musicians_en}}</p>
      {% if concert.organizer_url %}
      <p class="concert-tickets">
        <a href="{{concert.organizer_url}}" target="_blank" class="btn"
          >Tickets</a
        >
      </p>
      {% endif %} {% if concert.cancelled %}
      <p class="concert-cancelled">Cancelled</p>
      {% endif %}
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
