<nav>
         <ul class="nl">
            {% for item in site.data.navigation %}
                <li class="fadeInNav">
                    <a href="{{item.url}}"  
                    {% if page.url == item.url %}class="current"{% endif %} >{{item.name}}</a>
                    
                </li>
            {% endfor %}
                <li class="fadeInNav"><a href="/" class="current">NL</a>  <a href="/en/" class="">EN</a></li>
            
        </ul>
        
</nav>


<div class="container-without-padding">
    <div class="hamburger-container">
        <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box"></span>
              <span class="hamburger-inner hamburger-black"></span>
            
          </button>
    </div>
</div>