.landing {
  position: relative;
}

.landing-title,
.landing-subtitle-container {
  position: absolute;
  color: white;
}

.landing-title {
  visibility: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing-subtitle {
  margin-bottom: 0;
  visibility: hidden;
}

.landing-title {
  top: 10%;
  left: 20%;
  font-weight: 300;
  font-size: 1.5em;
}

.landing-subtitle-container {
  right: 20%;
  top: 50%;
}

.quote {
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}

.concert-poster {
  background-color: rgb(248, 250, 248);
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: var(--boxshadow);
}

.concert-date {
  margin-bottom: 0;
  color: var(--clr-primary);
  font-weight: bold;
}

.concert-musicians {
  white-space: pre;
}

.concert-hall {
  font-size: 1.5em;
  margin-bottom: 0;
  line-height: 1;
}
.section-image {
  position: relative;
}

.photographer {
  position: absolute;
  bottom: 0em;
  left: 0.5em;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.section-image {
  margin-bottom: 1em;
}
