:root {
  --container-width: 960px;
  --bg-color: rgb(255, 255, 255);
  --clr-secondary: rgb(79, 112, 134);
  --clr-primary: rgb(7, 107, 32);
  --text-color: rgba(0, 0, 0, 0.85);
  --boxshadow: rgba(60, 64, 67, 0.15) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
}
