:root {
  --container-width: 960px;
  --bg-color: rgb(255, 255, 255);
  --clr-secondary: rgba(99, 136, 161, 1);
  --clr-primary: rgb(146, 20, 20);
  --text-color: rgba(0, 0, 0, 0.85);
  --boxshadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
