---
layout: default_en
---

<div class="landing parallax-container">
  <img src="/assets/img/mp-reimsreisje.jpg" alt="Reimsreisje" />
  <h2 class="landing-title fadeIn">Marc Pantus</h2>
  <div class="landing-subtitle-container">
    <p class="landing-subtitle fadeIn">{{site.data.home.title1-en}}</p>
    <p class="landing-subtitle fadeIn">{{site.data.home.title2-en}}</p>
  </div>

  <a href="#quote"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</div>

<div class="container">{{content}}</div>
